[package]
name = "search-engine"
version = "0.1.0"
edition = "2024"
publish = false

[lib]
crate-type = ["cdylib"]

[dependencies]
wasm-bindgen = "0.2.106"
web-sys = "0.3.83"

# [lints]
# workspace = true
